@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
@import "./variable";
@import "./config";

.header__top {
  @extend %displayFlex;
}

.header__top-img {
  height: auto;
  width: auto;
}

.header__top i {
  color: $aqua;
  font-size: 3.4rem;
}

.header__list {
  margin: 35px 0;
}

.header__list--item {
  margin-bottom: 12px;
}

.header__list--item a span {
  color: $text-grey;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.878rem;
}

.hero__title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 44px;
  text-align: center;
  color: $text-grey;
  margin-bottom: 28px;
}

.hero__text {
  font-family: $roboto;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 28.8px;
  text-align: center;
  color: $text-light;
}
